/* work sans google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600;700&family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Belanosima', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* shared styles  */

.btn-primary{
    border-radius: 9px;
    font-size: 16px;
    color: #FFF;
    background: #FF900E ;
    padding: 20px 25px;
    cursor: pointer;
}




/* header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-title{
    font-size: 2.4rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 18px;
}

nav li a{
    text-decoration: none;
    color: #424242 ;
}








.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-container img{
    margin-top: 35px;
    width: 100%;
}

.banner-title{
    font-size: 64px;
}

.banner-info{
    color: #727272;
}











/* team container styles */


/* Main styles  */

main{
    max-width: 1440px;
    margin: 70px auto;
}





.team-container{
    display: flex;
    align-items: center;
}

.team-title{
    font-size: 3rem;
}

.team-title .quick{
    color:  #727272;
}

.team-title .our{
    color:#131313;
}

.team-title .feature{
    color: #FF900E;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}

.team-content{
    padding-left: 70px;
    padding-right: 70px;
}




















/* Responsive styles with media query */


/* for mobile devices  */
/* @media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
}






@media screen and (min-width:576px) and(max-width:960px) {

 header{
    padding: 50px;
 }

 nav, .team-container{
    flex-direction: column;
 }



}
 */







        /* facts styles  */


/* .bedi-info{
    color: #727272;
} */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}


.facts-card-container .card-stats{
    font-size: 2.8rem;
    color:#424242;
    margin-top: 10px;
    margin-bottom: 10px;
}


































 @media only screen and (max-width: 480px) {
    .team-title {
      font-size: 2rem;
    }
  
    .team-content {
      padding: 0 20px;
    }
  
    .team-img-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  
  /* Responsive styles for medium-sized devices */
  @media only screen and (max-width: 768px) {
    
    nav{
        flex-direction: column;
    }

    .team-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .team-title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    .team-content {
      padding: 0 40px;
    }
  }